<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<div class="page-header"
     style="background-image: url('/images/city.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 ml-auto mr-auto">
                <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <div class="card card-login">
                    <form class="form" method="POST" action="/gallery/<%= picture._id %>/edit?_method=PUT"
                          style="min-height: 250px;">
                        <div class="card-header card-header-primary text-center" id="login_color">
                            <h4 class="card-title">Edit <%= picture.name %></h4>
                        </div>
                        <div class="card-body">
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">
                                                perm_identity
                                            </i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="picture[name]"
                                           value="<%= picture.name %>">
                                </div>
                            </span>
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">http</i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" name="picture[image]"
                                           value="<%= picture.image %>">
                                </div>
                            </span>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" value="work" name="picture[type]" type="checkbox"> Works
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" value="studio" name="picture[type]" type="checkbox"> Studio
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input"  value="painting" name="picture[type]" type="checkbox"> Digital Painting
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <span class="bmd-form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">description</i>
                                        </span>
                                    </div>
                                    <textarea class="form-control" name="picture[description]"><%=picture.description%></textarea>
                                </div>
                            </span>
                        </div>
                        <div class="footer text-center">
                            <button class="btn" style="color: white; background: #2284a2;" role="button">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
<script src="/javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/javascripts/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/javascripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/javascripts/nouislider.min.js" type="text/javascript"></script>
<!--	Plugin for Sharrre btn -->
<script src="/javascripts/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/material-kit.js?v=2.0.4" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //init DateTimePickers
        materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        materialKit.initSliders();
    });


    function scrollToDownload() {
        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }


    $(document).ready(function () {

        $('#facebook').sharrre({
            share: {
                facebook: true
            },
            enableHover: false,
            enableTracking: false,
            enableCounter: false,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('facebook');
            },
            template: '<i class="fab fa-facebook-f"></i> Facebook',
            url: 'https://demos.creative-tim.com/material-kit/index.html'
        });

        $('#googlePlus').sharrre({
            share: {
                googlePlus: true
            },
            enableCounter: false,
            enableHover: false,
            enableTracking: true,
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('googlePlus');
            },
            template: '<i class="fab fa-google-plus"></i> Google',
            url: 'https://demos.creative-tim.com/material-kit/index.html'
        });

        $('#twitter').sharrre({
            share: {
                twitter: true
            },
            enableHover: false,
            enableTracking: false,
            enableCounter: false,
            buttons: {
                twitter: {
                    via: 'CreativeTim'
                }
            },
            click: function (api, options) {
                api.simulateClick();
                api.openPopup('twitter');
            },
            template: '<i class="fab fa-twitter"></i> Twitter',
            url: 'https://demos.creative-tim.com/material-kit/index.html'
        });

    });
</script>

</body>

</html>


<!--<div class="single-element-widget">-->
<!--<h3 class="mb-30 title_color">Selectboxes</h3>-->
<!--<div class="default-select" id="default-select">-->
<!--<select style="display: none;">-->
<!--<option value="1">English</option>-->
<!--<option value="1">Spanish</option>-->
<!--<option value="1">Arabic</option>-->
<!--<option value="1">Portuguise</option>-->
<!--<option value="1">Bengali</option>-->
<!--</select>-->
<!--<div class="nice-select" tabindex="0"><span class="current">English</span>-->
<!--<ul class="list">-->
<!--<li data-value="1" class="option selected focus">English</li>-->
<!--<li data-value="1" class="option">Spanish</li>-->
<!--<li data-value="1" class="option">Arabic</li>-->
<!--<li data-value="1" class="option">Portuguise</li>-->
<!--<li data-value="1" class="option">Bengali</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->