<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<div class="container">
    <div class="row">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= picture.image %>">
                <div class="caption-full">
                    <h4><a href=""><%= picture.name %></a></h4>
                    <a class="btn btn-primary" style="margin: 10px"
                       href="/gallery/<%= picture._id %>/edit">Edit
                    </a>
                    <form id="form" action="/gallery/<%= picture._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div id="disqus_thread"></div>
            <script>

                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/


                        <% var id = String(picture._id); %>
                var disqus_config = function () {
                    this.page.url = 'localhost:3000/gallery/' + id;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = /gallery/ + id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://erics-media-1.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>