<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon.png">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Erics Media
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/stylesheets/material-kit.min.css">
    <link href="/stylesheets/material-kit.css?v=2.0.4" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/vertical-nav.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!--<link href="./assets/demo/demo.css" rel="stylesheet"/>-->
    <!--<link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/custom1.css">
    <link rel="stylesheet" href="/stylesheets/style-imgur.css" type="text/css">
    <!--<link rel="stylesheet" href="/stylesheets/mobile-style.css">-->
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Merienda" rel="stylesheet">
    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7184261840828523",
            enable_page_level_ads: true
        });
    </script>


    <!--Git Site Control plugin-->
    <script>
        (function (w, i, d, g, e, t, s) {
            w[d] = w[d] || [];
            t = i.createElement(g);
            t.async = 1;
            t.src = e;
            s = i.getElementsByTagName(g)[0];
            s.parentNode.insertBefore(t, s);
        })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/146775/script.js');
    </script>
</head>


<nav class="navbar-expand-lg navbar" color-on-scroll="100"
     id="sectionsNav" style="padding-bottom: 5px;">
    <div class="container-fluid">
        <div class="navbar-translate" style="margin-left: 30px;">
            <div data-turbolinks="false">
                <a href="/" class="navbar-brand">
                    <div class="logo">
                        <img src="/images/logo.png" width="200" height="50">
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" style="margin-right: 100px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="material-icons">
                            home
                        </i>
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Menu
                    </a>
                    <div class="dropdown-menu dropdown-with-icons main-menu" style="height: 275px;">
                        <a href="/gallery" class="dropdown-item">
                            <i class="material-icons">add_a_photo</i> Gallery
                        </a>
                        <a href="/blog" class="dropdown-item">
                            <i class="material-icons">format_bold</i> Blog
                        </a>
                        <a href="/package" class="dropdown-item">
                            <i class="material-icons">layers</i> Packages
                        </a>
                        <a href="/profile" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Profile
                        </a>
                        <a href="/contact" class="dropdown-item">
                            <i class="material-icons">contact_mail</i> Contact Us
                        </a>
                        <a href="/about" class="dropdown-item">
                            <i class="material-icons">person</i> About Us
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="#" target="_blank"
                       data-original-title="Follow us on Twitter">
                        <button class="btn btn-just-icon btn-round btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://web.facebook.com/erics2017/" target="_blank"
                       data-original-title="Like us on Facebook">
                        <button class="btn btn-just-icon btn-round btn-facebook">
                            <i class="fa fa-facebook"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://plus.google.com/110122640636489343713" target="_blank"
                       data-original-title="Follow us on Google Plus">
                        <button class="btn btn-just-icon btn-round btn-google">
                            <i class="fa fa-google"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.instagram.com/erics_media/" target="_blank"
                       data-original-title="Follow us on Instagram">
                        <button class="btn btn-just-icon btn-round btn-instagram">
                            <i class="fa fa-instagram"></i>
                        </button>
                    </a>
                </li>
                <% if(activeUser){ %>
                <li class="dropdown nav-item">
                    <a class="profile-photo dropdown-toggle nav-link" href="#"
                       data-toggle="dropdown">
                        <div class="profile-photo-small">
                            <img class="rounded-circle img-fluid" src="/images/alonso.jpg" alt="Circle Image">
                        </div>
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Sign out</a>
                        <a href="/new" class="dropdown-item">Add Picture(Home)</a>
                        <a href="/gallery/new" class="dropdown-item">Add Picture(Gallery)</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>


<body class="index-page">

<div class="page-header" data-parallax="true" id="erics_media" style="background-image: url('/images/blog.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <div class="brand">
                    <h1 style="font-family: 'Ubuntu', cursive;" id="logo_color"
                        class="text_shadow align-content-center ">Blog</h1>
                    <a title="Share on Facebook"
                       href="http://www.facebook.com/sharer.php?u=http://erics-media-website.herokuapp.com"
                       target="_blank">
                        <button class="btn btn-just-icon btn btn-facebook">
                            <i class="fa fa-facebook"> </i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="container-fluid">
        <div class="row">
            <% function gloria(array) {
                let arr = [];
                for (var i = array.length - 1; i >= 0; --i) {
                    arr.push(array[i]);
                }
                return arr;
            } %>

            <% let database = gloria(picture); %>
            <% database.forEach((pic) => { %>
            <div class="col-lg-8 col-md-10 col-sm-10 col-xs-6 ml-auto mr-auto" id="<%= pic.title %>">
                <div class="card card-plain card-blog card-hover-effect">
                    <div class="card-header card-header-image">
                        <a href="/gallery/<%= pic._id %>">
                            <img class="img img-raised"
                                 src="<%= pic.image %>">
                        </a>
                        <div class="colored-shadow"
                             style="background-image: url(&quot;<%= pic.image %>&quot;); opacity: 1;"></div>
                    </div>
                    <div class="card-body">
                        <% if (pic.type !== 'work') { %>
                        <h6 class="card-category text-info">Model: <%= pic.name %></h6>
                        <% } %>
                        <% if (pic.created){ %>
                        <% let convertedDate = String(pic.created); %>
                        <% let createdDate = new Date(convertedDate); %>
                        <p class="quote" style="float: right;"><%= createdDate.toDateString() %></p>
                        <% } %>
                        <h4 class="card-title">
                            <a href="/gallery/<%= pic._id %>">
                                <%= pic.title %>
                            </a>
                        </h4>
                        <p class="bold">
                            <%= pic.description %>
                        </p>
                        <% console.log(pic.created); %>
                        <a class="btn btn-default" style="margin: 10px; background: #2284ae;"
                           href="/gallery/<%= pic._id %>">Read More
                        </a>
                        <% let gps = pic.coordinate; %>
                        <% if (gps) { %>
                        <a href="http://maps.google.com/maps?q=<%= pic.coordinate %>" class="btn-link" target="_blank">
                            <i class="material-icons">pin_drop</i>
                            <%= pic.location.toUpperCase() %>
                        </a>
                        <% } else { %>
                        <p class="">Location: <%= pic.location.toUpperCase() %></p>
                        <% } %>
                        <% if (activeUser){ %>
                        <a class="btn btn-primary" style="margin: 10px"
                           href="/gallery/<%= pic._id %>/edit">Edit
                        </a>
                        <form id="form" action="/gallery/<%= pic._id %>?_method=DELETE" method="POST"
                              style="display: inline; margin: 10px;">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ml-auto mr-auto">
                                <div id="fb-root"></div>
                                <script>(function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>

                                <div class="fb-comments"
                                     data-href="http://erics-media-website.herokuapp.com/gallery/<%= pic._id %>"
                                     data-numposts="10"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="line">
                </div>
            </div>
            <div class="col-lg-2 col-md-10 ml-auto mr-auto">

            </div>
            <% }) %>
        </div>
    </div>
</div>

<nav id="cd-vertical-nav">
    <ul>
        <% let count = 1; %>
        <% database.forEach((pic) => { %>
        <li>
            <a href="#<%= pic.title %>" data-number="<%= count %>">
                <span class="cd-dot"></span>
                <span class="cd-label"><%= pic.title %></span>
            </a>
        </li>
        <% count += 1; %>
        <% }) %>
    </ul>
</nav>


<% include partials/footer.ejs %>