<% include partials/header.ejs %>
<% include partials/nav.ejs %>


<body class="index-page">

<div class="page-header" data-parallax="true" id="erics_media" style="background-image: url('/original/home (4).jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <div class="brand">
                    <h1 style="font-family: 'Ubuntu', cursive;" id="logo_color"
                        class="text_shadow align-content-center ">Erics Media</h1>
                    <hr id="hr">
                    <h3 class="yfont">We are at Your Service. </h3>
                    <a href="#gallery">
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="section section-white">
        <div class="container-fluid" id="gallery">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">camera</i> Studio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">work</i> Works
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#painting" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">format_paint</i> Digital
                                    Painting
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="tab-content tab-space">
                <div class="tab-pane text-center gallery active" id="studio">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="profile-tabs">
                                    <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#portrait_studio" data-toggle="tab"
                                               role="tab">Portrait</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#landscape_studio" data-toggle="tab" role="tab">Landscape</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="tab-content tab-space">
                                            <div class="tab-pane text-center active gallery" id="portrait_studio">
                                                <!--portrait items-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                            <% let orientation = pic.orientation; %>
                                                            <% let type = pic.type; %>
                                                            <% let page = pic.page; %>
                                                            <% if (page === 'home') { %>
                                                                <% if (type === 'studio'){ %>
                                                                    <% if (orientation === 'portrait'){ %>
                                                                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 ml-auto mr-auto">
                                                                            <div class="anime">
                                                                                <img src="<%= pic.image %>" alt=""
                                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center gallery" id="landscape_studio">
                                                <!--landscape items-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                            <% let orientation = pic.orientation; %>
                                                            <% let type = pic.type; %>
                                                            <% let page = pic.page; %>
                                                            <% if (page === 'home') { %>
                                                                <% if (type === 'studio'){ %>
                                                                    <% if (orientation === 'landscape'){ %>
                                                                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-6 ml-auto mr-auto"
                                                                             style="margin-top: 25px;">
                                                                            <div class="anime">
                                                                                <img src="<%= pic.image %>" alt=""
                                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="works">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="profile-tabs">
                                    <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#portrait_works" data-toggle="tab"
                                               role="tab">Portrait</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#landscape_works" data-toggle="tab" role="tab">Landscape</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="tab-content tab-space">
                                            <div class="tab-pane text-center active gallery" id="portrait_works">
                                                <!--portrait items test-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                        <% let orientation = pic.orientation; %>
                                                        <% let type = pic.type; %>
                                                        <% if (type === 'work'){ %>
                                                        <% if (orientation === 'portrait'){ %>
                                                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 ml-auto mr-auto">
                                                            <div class="anime">
                                                                <img src="<%= pic.image %>" alt=""
                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center gallery" id="landscape_works">
                                                <!--landscape items-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                        <% let orientation = pic.orientation; %>
                                                        <% let type = pic.type; %>
                                                        <% if (type === 'work'){ %>
                                                        <% if (orientation === 'landscape'){ %>
                                                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-6 ml-auto mr-auto"
                                                             style="margin-top: 25px;">
                                                            <div class="anime">
                                                                <img src="<%= pic.image %>" alt=""
                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="painting">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="profile-tabs">
                                    <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#portrait_painting" data-toggle="tab"
                                               role="tab">Portrait</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#landscape_painting" data-toggle="tab" role="tab">Landscape</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="tab-content tab-space">
                                            <div class="tab-pane text-center active gallery" id="portrait_painting">
                                                <!--portrait items-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                        <% let orientation = pic.orientation; %>
                                                        <% let type = pic.type; %>
                                                        <% if (type === 'painting'){ %>
                                                        <% if (orientation === 'portrait'){ %>
                                                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 ml-auto mr-auto">
                                                            <div class="anime">
                                                                <img src="<%= pic.image %>" alt=""
                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center gallery" id="landscape_painting">
                                                <!--landscape items-->
                                                <div class="container">
                                                    <div class="row">
                                                        <% picture.forEach(function(pic) { %>
                                                        <% let orientation = pic.orientation; %>
                                                        <% let type = pic.type; %>
                                                        <% if (type === 'painting'){ %>
                                                        <% if (orientation === 'landscape'){ %>
                                                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-6 ml-auto mr-auto"
                                                             style="margin-top: 25px">
                                                            <div class="anime">
                                                                <img src="<%= pic.image %>" alt=""
                                                                     style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                        <% } %>
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <br>
            <br>
            <div class="title text_shadow" id="package" style="text-align: center">
                <h2>Wedding Packages</h2>
            </div>
            <div class="pricing-5 my_price" id="pricing-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title">Choose a plan</h2>
                            <ul class="nav nav-pills nav-pills-primary">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="#silver" data-toggle="tab"
                                       id="silver1">Silver</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#diamond" data-toggle="tab" id="diamond1">Diamond</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#gold" data-toggle="tab" id="gold1">Gold</a>
                                </li>
                            </ul>
                            <p class="text-gray">####################################
                                ###########################.</p>
                        </div>
                        <div class="col-md-7 ml-auto mr-auto">
                            <div class="tab-content tab-space">
                                <div class="tab-pane active show" id="silver">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_silver">
                                                <div class="card-body ">
                                                    <h6 class="card-price">SILVER PACKAGEe</h6>
                                                    <ul>
                                                        <li>
                                                            100 Printed Pictures
                                                        </li>
                                                        <li>
                                                            One Framed Picture
                                                        </li>
                                                        <li>
                                                            Thanksgiving Video (Social Media Format)
                                                        </li>
                                                        <li>
                                                            Pre-Wedding Shooting
                                                        </li>
                                                    </ul>
                                                    <a href="/package"
                                                       class="btn btn-primary btn-round price_button">
                                                        Read More
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="diamond">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_diamond">
                                                <div class="card-body ">
                                                    <h6 class="card-price">DIAMOND PACKAGE</h6>
                                                    <div class="white">
                                                        <ul>
                                                            <li>
                                                                200 Printed Pictures
                                                            </li>
                                                            <li>
                                                                Printed T-Shirt for Shooting
                                                            </li>
                                                            <li>
                                                                Two Framed Pictures
                                                            </li>
                                                            <li>
                                                                Thanksgiving Video (Social Media Format)
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="/package" class="btn btn-primary btn-round">
                                                        Read More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="gold">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_gold">
                                                <div class="card-body">
                                                    <h6 class="card-price">GOLDEN PACKAGE</h6>
                                                    <ul>
                                                        <li>
                                                            Wedding Invitation Design and Print
                                                        </li>
                                                        <li>
                                                            Photo Catalogue Book...
                                                        </li>
                                                        <li>
                                                            Photo Album
                                                        </li>
                                                        <li>
                                                            300 Printed Pictures
                                                        </li>
                                                    </ul>
                                                    <a href="/package"
                                                       class="btn btn-primary btn-round price_button">
                                                        Read More
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <hr>
            <div id="cards"></div>
        </div>
    </div>

    <div class="cards" id="">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate">
                            <div class="front"
                                 style="width: 330px;background-image: url('https://i.imgur.com/68rnWum.jpg');background-size: cover;">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social"
                                        style="text-align: center; font-family: monospace; color: white; font-weight: bolder;">
                                        Annie Leibovitz</h5>
                                    <p class="card-description"
                                       style="padding-top: 60px; color: #fff4f4; font-family: monospace; text-shadow: 2px 2px black;">
                                        “A thing that you see in my pictures is that I was not afraid to fall in love
                                        with these people.”
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="https://en.wikipedia.org/wiki/Annie_Leibovitz">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Annie_Leibovitz-SF-1-Crop.jpg/220px-Annie_Leibovitz-SF-1-Crop.jpg"
                                                 alt="..." class="avatar img-raised">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="back" style="width: 330px;">
                                <div class="card-body"
                                     style="background-image: url('https://i.ytimg.com/vi/cZxOvNxbi7U/maxresdefault.jpg');background-size: cover;">
                                    <div class="stats">
                                        <button type="button" name="button" class="btn btn-white btn-fill btn-round"
                                                style="background: transparent; padding-top: 150px;">
                                            <i class="material-icons">subject</i>
                                            <a href="https://en.wikipedia.org/wiki/Annie_Leibovitz"
                                               style="color: white;" target="_blank">Read More</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate">
                            <div class="front"
                                 style="width: 330px;background-image: url('https://i.imgur.com/HFEiQDH.jpg');background-size: cover;">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social"
                                        style="text-align: center; font-family: monospace; color: white; font-weight: bolder;">
                                        Ansel Adams</h5>
                                    <p class="card-description"
                                       style="padding-top: 13px; color: #fff4f4; font-family: monospace; text-shadow: 2px 2px black;">
                                        “I hope that my work will encourage self expression in others and stimulate the
                                        search for beauty and creative excitement in the great world around us.”</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="https://en.wikipedia.org/wiki/Annie_Leibovitz">
                                            <img src="https://i.imgur.com/MEzQhrE.jpg"
                                                 alt="..." class="avatar img-raised">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="back" style="width: 330px;">
                                <div class="card-body"
                                     style="background-image: url('http://www.famousphotographers.net/images/ansel-adams.jpg');background-size: cover;">
                                    <div class="stats">
                                        <button type="button" name="button" class="btn btn-white btn-fill btn-round"
                                                style="background: transparent; padding-top: 150px;">
                                            <i class="material-icons">subject</i>
                                            <a href="https://en.wikipedia.org/wiki/Ansel_Adams" style="color: white;"
                                               target="_blank">Read More</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate">
                            <div class="front"
                                 style="width: 330px;background-image: url('https://i.imgur.com/fIErZzb.jpg');background-size: cover;/* height: 1000px; */">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social"
                                        style="text-align: center; font-family: monospace; color: white; font-weight: bolder;">
                                        Leonardo Da Vinci</h5>
                                    <p class="card-description"
                                       style="padding-top: 60px; color: #fff4f4; font-family: monospace; text-shadow: 2px 2px black;">
                                        “Learning is the only thing the mind never exhausts, never fears and never
                                        regrets.”</p>
                                </div>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="https://en.wikipedia.org/wiki/Annie_Leibovitz">
                                            <img src="https://www.biography.com/.image/ar_8:10%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTQ1NDY3NjE3MTc0MzY1OTY5/leonardo-da-vinci---notebooks.jpg"
                                                 alt="..." class="avatar img-raised">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="back" style="width: 330px;">
                                <div class="card-body"
                                     style="background-image: url('https://quotes4ever.com/wp-content/uploads/2018/04/418631-1g_CSN418631_MG1295191.jpg');background-size: cover;">
                                    <div class="stats">
                                        <button type="button" name="button" class="btn btn-white btn-fill btn-round"
                                                style="background: transparent; padding-top: 150px;">
                                            <i class="material-icons">subject</i>
                                            <a href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci"
                                               style="color: white;" target="_blank">Read More</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#erics_media" data-number="1" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Home</span>
            </a>
        </li>
        <li>
            <a href="#gallery" data-number="2" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Gallery</span>
            </a>
        </li>
        <li>
            <a href="#package" data-number="3" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Package</span>
            </a>
        </li>
        <li>
            <a href="#cards" data-number="4">
                <span class="cd-dot"></span>
                <span class="cd-label">Cards</span>
            </a>
        </li>
        <li>
            <a href="#footer" data-number="5" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Footer</span>
            </a>
        </li>
    </ul>
</nav>


<% include partials/footer.ejs %>